.form-contact {
  font-size: 22px;
  color: #413E66;
}

.form-control {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom:  1px solid #FCE66D;
}

#form {
  background-color: white;
  margin-top: 100px;
}

.bg-prelibato {
  background-color: #FCE66D;
}

#cont-sx h1,
#cont-dx h1  {
    font-size: 32px;
    color: #413E66;
    font-weight: 600;
    font-family: Montserrat;
}

#cont-sx h2,
#cont-dx h2 {
    font-size: 22px;
    color: #413E66;
    font-family: Montserrat;
}

#chisiamo {
  @include svg((viewBox: 0 0 20 4)){
    @include svg('path',(fill: none, stroke: #fbd800, stroke-width: 1, class: squiggle, d: 'M0,3.5 c 5,0,5,-3,10,-3 s5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3',));
    @include svg('style',(type: text/css, content: '.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}'));}
    background-position: 0 50%;
    background-size: auto 20px;
    background-repeat: repeat-x;
}

#chisiamo:hover {
    background-size: 100% 88%;
}
