/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #413E66;
  font-family: "Montserrat", sans-serif;
  animation: animate 2s infinite ease-in-out;
}

a {
  color: #1bb1dc;
  transition: 0.5s;
}


a:hover,
a:active,
a:focus {
  color: #fbd800;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #fbd800;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.privacy {
  font-family: "Montserrat", sans-serif;
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fbd800;
}

#preloader:before {
  content: '';
  position: fixed;
  left: calc(100vw - 85%);
  border: 400px solid white;
  border-top: 400px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: animate-preloader 1.2s linear infinite;
  animation: animate-preloader 1.2s linear infinite;
}

.btn  {
  color: #413E66 !important;
}


@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
  }

  100% {
    -webkit-transform: rotate(360deg) scale(2);
    transform: rotate(360deg) scale(2);
  }
}
