/*--------------------------------------------------------------
# Intro
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: white;
  background-size: cover;
}

#intro .intro-info h2 {
  color: #413e66;
  margin-bottom: 40px;
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
  font-family: "Montserrat", sans-serif;
}

#intro .intro-info h1 {
  color: #413e66;
  margin-bottom: 40px;
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
  font-family: "Montserrat", sans-serif;
}


#underline {
    @include svg((viewBox: 0 0 20 4)){
      @include svg('path',(fill: none, stroke: #fbd800, stroke-width: 1, class: squiggle, d: 'M0,3.5 c 5,0,5,-3,10,-3 s5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3',));
      @include svg('style',(type: text/css, content: '.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}'));}
      background-position: 0 50%;
      background-size: auto 20px;
      background-repeat: repeat-x;
  }


.social-bar {
  position: fixed;
  right: 20px;
  top: 55%;
  z-index: 9999;
  display: none;
}

.social-bar a {
  margin-top: 10px;
  font-size: 20px;
  color: #413E66;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
}

.social-bar a:hover {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 1px solid #fbd800;
  border-radius: 50%;
  background-color: #fbd800;
}

.remove-bar {
  display: none !important;
  transition: display 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
